html,
body {
    height: 100%;
}

.box .col-md-6 {
    padding: 0;
}

table {
    width: 100%;
    border: 2px solid rgb(150, 93, 93);
}

table input {
    text-align: center;
    width: 100%;
    height: 170px;
    font-size: 30px;
}

.box {
    /*עיצוב לקוביות של המשחק*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    /*עיצוב לכפתור הההתחלה*/
    background-color: rgb(150, 93, 93);
    font-size: 25px;
    width: 160px;
    padding: 15px;
    border: 2px solid rgb(150, 93, 93);
    border-radius: 20px;
}

.start-btn:hover {
    /*בעת לחיצה על הכפתור ישנה צבע לבוהק יותר*/
    background-color: rgb(236, 205, 205);
}

.item {
    height: 100px;
}

.timerWrapper {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

input[type='text'] {
    cursor: pointer;
}

.timer {
    background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
    border-radius: 100%;
    height: calc(var(--size) * 1px);
    width: calc(var(--size) * 1px);
    position: relative;
    -webkit-animation: time calc(var(--duration) * 1s) steps(1000, start) infinite;
    -webkit-mask: radial-gradient(transparent 50%, #000 50%);
    mask: radial-gradient(transparent 50%, #000 50%);
    display: inline-block;
}

.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    -webkit-animation: mask calc(var(--duration) * 1s) steps(500, start) infinite;
    -webkit-transform-origin: 100% 50%;
}

@-webkit-keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes mask {
    0% {
        background: #eee;
        -webkit-transform: rotate(0deg);
    }

    50% {
        background: #eee;
        -webkit-transform: rotate(-180deg);
    }

    50.01% {
        background: skyBlue;
        -webkit-transform: rotate(0deg);
    }

    100% {
        background: skyBlue;
        -webkit-transform: rotate(-180deg);
    }
}